In [57]:
spark.stop()

In [58]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("taxi").getOrCreate()

In [59]:
yellow202101 = spark.read.format('csv').load('data/yellow_tripdata_2021-01.csv', inferSchema=True, header=True)
yellow202102 = spark.read.format('csv').load('data/yellow_tripdata_2021-02.csv', inferSchema=True, header=True)
yellow202103 = spark.read.format('csv').load('data/yellow_tripdata_2021-03.csv', inferSchema=True, header=True)
yellow202104 = spark.read.format('csv').load('data/yellow_tripdata_2021-04.csv', inferSchema=True, header=True)
yellow202105 = spark.read.format('csv').load('data/yellow_tripdata_2021-05.csv', inferSchema=True, header=True)
yellow202106 = spark.read.format('csv').load('data/yellow_tripdata_2021-06.csv', inferSchema=True, header=True)
yellow202107 = spark.read.format('csv').load('data/yellow_tripdata_2021-07.csv', inferSchema=True, header=True)

In [60]:
zone_df = spark.read.format('csv').load('data/taxi+_zone_lookup.csv', inferSchema=True, header=True)

In [61]:
zone_df.show(20)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [62]:
trips_df = yellow202101.union(yellow202102).union(yellow202103).union(yellow202104).union(yellow202105).union(yellow202106).union(yellow202107)

In [63]:
trips_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [64]:
trips_df.createOrReplaceTempView('trips')
zone_df.createOrReplaceTempView('zone')

In [65]:
#분석에 필요할 컬럼들만 따로 빼서 출력
query = '''
select
t.VendorID,
TO_DATE(t.tpep_pickup_datetime) as pickup_date,
TO_DATE(t.tpep_dropoff_datetime) as dropoff_date,
HOUR(t.tpep_pickup_datetime)  as pickup_time,
HOUR(t.tpep_dropoff_datetime) as dropoff_time,
t.passenger_count,
t.trip_distance,
t.tip_amount,
t.total_amount,
t.payment_type,
pz.Zone as pickup_zone,
dz.Zone as dropoff_zone
from trips t
LEFT JOIN zone pz ON t.PULocationID = pz.LocationID
LEFT JOIN zone dz ON t.DOLocationID = dz.LocationID
'''

In [66]:
comb_df = spark.sql(query)

In [67]:
comb_df.count() #1500만건의 데이터...

15000700

In [68]:
comb_df.show(5)

+--------+-----------+------------+-----------+------------+---------------+-------------+----------+------------+------------+--------------------+----------------+
|VendorID|pickup_date|dropoff_date|pickup_time|dropoff_time|passenger_count|trip_distance|tip_amount|total_amount|payment_type|         pickup_zone|    dropoff_zone|
+--------+-----------+------------+-----------+------------+---------------+-------------+----------+------------+------------+--------------------+----------------+
|       1| 2021-01-01|  2021-01-01|          0|           0|              1|          2.1|       0.0|        11.8|           2| Lincoln Square East|    Central Park|
|       1| 2021-01-01|  2021-01-01|          0|           0|              1|          0.2|       0.0|         4.3|           2|Upper West Side N...|Manhattan Valley|
|       1| 2021-01-01|  2021-01-01|          0|           1|              1|         14.7|      8.65|       51.95|           1|         JFK Airport|         Midwood|
|       1| 2021-01-01|  2021-01-01|          0|           0|              0|         10.6|      6.05|       36.35|           1|   LaGuardia Airport|     JFK Airport|
|       2| 2021-01-01|  2021-01-01|          0|           0|              1|         4.94|      4.06|       24.36|           1|        East Chelsea|Brooklyn Heights|
+--------+-----------+------------+-----------+------------+---------------+-------------+----------+------------+------------+--------------------+----------------+
only showing top 5 rows

In [69]:
comb_df.createOrReplaceTempView('comb')

query = '''
select pickup_date, pickup_time 
from comb 
where pickup_time>0
'''

spark.sql(query).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2020-12-31|         23|
| 2020-12-31|         21|
| 2020-12-31|         23|
| 2020-12-31|         18|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2020-12-31|         23|
| 2020-12-31|         13|
| 2020-12-31|         23|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
+-----------+-----------+
only showing top 20 rows

In [70]:
query = '''
select pickup_date, pickup_time 
from comb 
where pickup_date<'2020-12-31'
'''
spark.sql(query).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2009-01-01|          0|
| 2008-12-31|         23|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2008-12-31|         23|
| 2008-12-31|         23|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          1|
| 2009-01-01|         17|
| 2009-01-01|         17|
| 2009-01-01|         18|
| 2009-01-01|          1|
| 2009-01-01|          1|
| 2009-01-01|          2|
| 2009-01-01|          2|
| 2009-01-01|          0|
+-----------+-----------+
only showing top 20 rows

In [71]:
comb_df.describe()

DataFrame[summary: string, VendorID: string, pickup_time: string, dropoff_time: string, passenger_count: string, trip_distance: string, tip_amount: string, total_amount: string, payment_type: string, pickup_zone: string, dropoff_zone: string]

In [72]:
spark.sql(query).explain()

== Physical Plan ==
*(10) Project [cast(tpep_pickup_datetime#3685 as date) AS pickup_date#4185, hour(cast(tpep_pickup_datetime#3685 as timestamp), Some(Asia/Seoul)) AS pickup_time#4187]
+- *(10) BroadcastHashJoin [DOLocationID#3692], [LocationID#4191], LeftOuter, BuildRight, false
   :- *(10) Project [tpep_pickup_datetime#3685, DOLocationID#3692]
   :  +- *(10) BroadcastHashJoin [PULocationID#3691], [LocationID#4048], LeftOuter, BuildRight, false
   :     :- Union
   :     :  :- *(1) Filter (isnotnull(tpep_pickup_datetime#3685) AND (cast(tpep_pickup_datetime#3685 as date) < 18627))
   :     :  :  +- FileScan csv [tpep_pickup_datetime#3685,PULocationID#3691,DOLocationID#3692] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3685), (cast(tpep_pickup_datetime#3685 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-01.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     :  :- *(2) Filter (isnotnull(tpep_pickup_datetime#3737) AND (cast(tpep_pickup_datetime#3737 as date) < 18627))
   :     :  :  +- FileScan csv [tpep_pickup_datetime#3737,PULocationID#3743,DOLocationID#3744] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3737), (cast(tpep_pickup_datetime#3737 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-02.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     :  :- *(3) Filter (isnotnull(tpep_pickup_datetime#3789) AND (cast(tpep_pickup_datetime#3789 as date) < 18627))
   :     :  :  +- FileScan csv [tpep_pickup_datetime#3789,PULocationID#3795,DOLocationID#3796] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3789), (cast(tpep_pickup_datetime#3789 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-03.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     :  :- *(4) Filter (isnotnull(tpep_pickup_datetime#3841) AND (cast(tpep_pickup_datetime#3841 as date) < 18627))
   :     :  :  +- FileScan csv [tpep_pickup_datetime#3841,PULocationID#3847,DOLocationID#3848] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3841), (cast(tpep_pickup_datetime#3841 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-04.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     :  :- *(5) Filter (isnotnull(tpep_pickup_datetime#3893) AND (cast(tpep_pickup_datetime#3893 as date) < 18627))
   :     :  :  +- FileScan csv [tpep_pickup_datetime#3893,PULocationID#3899,DOLocationID#3900] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3893), (cast(tpep_pickup_datetime#3893 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-05.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     :  :- *(6) Filter (isnotnull(tpep_pickup_datetime#3945) AND (cast(tpep_pickup_datetime#3945 as date) < 18627))
   :     :  :  +- FileScan csv [tpep_pickup_datetime#3945,PULocationID#3951,DOLocationID#3952] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3945), (cast(tpep_pickup_datetime#3945 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-06.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     :  +- *(7) Filter (isnotnull(tpep_pickup_datetime#3997) AND (cast(tpep_pickup_datetime#3997 as date) < 18627))
   :     :     +- FileScan csv [tpep_pickup_datetime#3997,PULocationID#4003,DOLocationID#4004] Batched: false, DataFilters: [isnotnull(tpep_pickup_datetime#3997), (cast(tpep_pickup_datetime#3997 as date) < 18627)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-07.csv], PartitionFilters: [], PushedFilters: [IsNotNull(tpep_pickup_datetime)], ReadSchema: struct<tpep_pickup_datetime:string,PULocationID:int,DOLocationID:int>
   :     +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#6422]
   :        +- *(8) Filter isnotnull(LocationID#4048)
   :           +- FileScan csv [LocationID#4048] Batched: false, DataFilters: [isnotnull(LocationID#4048)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/taxi+_zone_lookup.csv], PartitionFilters: [], PushedFilters: [IsNotNull(LocationID)], ReadSchema: struct<LocationID:int>
   +- ReusedExchange [LocationID#4191], BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#6422]

In [73]:
query1 = '''
select pickup_date, pickup_time
from comb
where pickup_date < '2020-12-31'
'''

spark.sql(query1).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2009-01-01|          0|
| 2008-12-31|         23|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2008-12-31|         23|
| 2008-12-31|         23|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          0|
| 2009-01-01|          1|
| 2009-01-01|         17|
| 2009-01-01|         17|
| 2009-01-01|         18|
| 2009-01-01|          1|
| 2009-01-01|          1|
| 2009-01-01|          2|
| 2009-01-01|          2|
| 2009-01-01|          0|
+-----------+-----------+
only showing top 20 rows

In [74]:
# 실행 계획, 실행 결과(4040에서 확인해보기)
query2 = '''
select pickup_date, pickup_time
from comb
where pickup_time > 0 and pickup_time<=12
'''

spark.sql(query2).show()

+-----------+-----------+
|pickup_date|pickup_time|
+-----------+-----------+
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
| 2021-01-01|          1|
+-----------+-----------+
only showing top 20 rows

## 택시2 분석 실습 진행해보기~

In [75]:
# 피크 시간대의 요금 분석
query3 = '''
SELECT 
    pickup_time, 
    AVG(total_amount) AS avg_amount, 
    COUNT(*) AS trip_count 
FROM comb
GROUP BY pickup_time
ORDER BY trip_count;
'''

spark.sql(query3).show()

+-----------+------------------+----------+
|pickup_time|        avg_amount|trip_count|
+-----------+------------------+----------+
|          4|25.543330323717534|     45410|
|          3|21.065730892986537|     57806|
|          5|26.551492208156343|     82073|
|          2|20.362730667159187|     97218|
|          1|20.843909639453233|    160424|
|          6|21.328937308104788|    241020|
|          0|21.428823335880075|    273553|
|         23|20.859908445115355|    426957|
|          7|18.839960267735844|    438938|
|         22|19.938419441650122|    548863|
|         21| 19.24483158380136|    618735|
|          8|17.790024067466106|    641530|
|         20|18.544490854687115|    703748|
|          9|17.586356997781923|    712912|
|         10|  17.5357671015545|    794621|
|         11|17.466696368373324|    877952|
|         19|18.364497251168434|    915477|
|         12|17.963276970127026|    970018|
|         13|18.145573077784512|   1001522|
|         16| 19.70853841599251|   1043498|
+-----------+------------------+----------+
only showing top 20 rows

## 피크 시간대 요금 분석 결과

- **새벽 시간대(0~5시)**: 건수는 적지만 평균 요금은 높음(야간 할증 및 긴 거리 이동 영향일 듯).  
- **낮 시간대(10~16시)**: 건수가 가장 많으며 평균 요금은 안정적.  피크타입
- **저녁 시간대(17~23시)**: 단거리 이동 증가로 평균 요금이 낮음.  
- **인사이트**: 새벽 시간대 프로모션, 낮 시간대 차량 배치 최적화, 저녁 단거리 서비스 강화 필요.

In [76]:
# 지불 유형별 요금, 팁 분석
query4 = '''
SELECT 
    payment_type,
    ROUND(AVG(total_amount), 2) AS avg_amount,
    ROUND(AVG(tip_amount), 2) AS avg_tip
FROM comb
GROUP BY payment_type;
'''

spark.sql(query4).show()

+------------+----------+-------+
|payment_type|avg_amount|avg_tip|
+------------+----------+-------+
|        null|     31.85|    1.6|
|           1|     18.89|   2.88|
|           3|     18.07|  -0.01|
|           5|      17.8|    0.0|
|           4|     -2.77|   0.01|
|           2|     15.42|    0.0|
+------------+----------+-------+

## 지불 유형별 요금 및 팁 분석

- **결제 유형 1**: 평균 요금 18.09, 팁 0.31로 가장 일반적.  
- **결제 유형 2**: 평균 요금 15.42, 팁 3.44로 팁이 가장 높음.  
- **결제 유형 3**: 평균 요금 17.81, 팁 없음.  
- **결제 유형 4**: 평균 요금과 팁 모두 매우 낮음.  
- **인사이트**: 결제 유형 2는 고급 서비스 이용 가능성이 높아보임.

In [77]:
#승차지역/하차지역별 평균 거리, 요금
query5 = '''
SELECT 
    pickup_zone,
    dropoff_zone,
    ROUND(AVG(trip_distance), 2) AS avg_distance,
    ROUND(AVG(total_amount), 2) AS avg_amount
FROM comb
GROUP BY pickup_zone, dropoff_zone
ORDER BY avg_distance DESC;
'''

spark.sql(query5).show()

+--------------------+--------------------+------------+----------+
|         pickup_zone|        dropoff_zone|avg_distance|avg_amount|
+--------------------+--------------------+------------+----------+
|     Jamaica Estates|      Pelham Parkway|   205266.12|     47.63|
|    Inwood Hill Park|        Saint Albans|   167305.08|      76.0|
|     Oakland Gardens|Flatbush/Ditmas Park|   131123.07|     61.18|
|            Longwood|              Inwood|    77093.46|     19.04|
|   East Williamsburg|Riverdale/North R...|    70968.43|     53.22|
|              Inwood|         Parkchester|    65796.09|     32.07|
|        Borough Park|              Corona|    63336.38|     50.62|
|       South Jamaica|         City Island|    56564.13|     51.08|
| Kingsbridge Heights|Queensbridge/Rave...|    54215.12|     33.27|
|     Jamaica Estates|East Concourse/Co...|    52683.26|     49.26|
|          Co-Op City|        Clinton Hill|    49552.27|     70.03|
|      Brighton Beach|      Bushwick South|    45886.49|     51.65|
|    Hamilton Heights|           Laurelton|    41189.97|     59.79|
|         Hunts Point|      Yorkville West|    32914.58|     26.33|
|           Gravesend| Lincoln Square East|    31690.14|     53.61|
|East New York/Pen...|              Inwood|    31568.96|     71.59|
|             Midwood|Greenwich Village...|     29940.4|      40.8|
|       Starrett City|    Hamilton Heights|    29903.08|     53.49|
|Soundview/Castle ...|           Hudson Sq|    29279.05|     51.76|
|             Norwood|Queensbridge/Rave...|    28037.88|     40.13|
+--------------------+--------------------+------------+----------+
only showing top 20 rows

### 승차지역/하차지역별 평균 거리 및 요금 분석

- **최장 거리 구간**: `Jamaica Estates` → `Pelham Parkway`는 가장 먼 이동 거리이며, 요금은 평균 47.63달러.
- **높은 요금 구간**: `Inwood Hill Park` → `Saint Albans`에서 평균 76달러로 요금이 가장 높음. 왜 여기만 비싼걸지..
- **일반적인 이동**: 대부분 구간의 평균 이동 거리는 50-80km이며 요금은 30-50달러 사이.
- **인사이트**:
  - **장거리 구간**: 장거리 이동에서 정액 요금제 또는 고급 서비스 제공 필요.
  - **짧은 거리 구간**: 단거리 이동에 맞는 저가 요금 체계와 빠른 차량 배치 중요.

In [78]:
# 팀의 비율에 따른 거리, 여행 건수 서비스 관련 분석
query6 = '''
SELECT 
    ROUND(tip_amount / total_amount, 2) AS tip_ratio,
    ROUND(AVG(trip_distance),2) AS avg_distance,
    COUNT(*) AS trip_count
FROM comb
WHERE total_amount > 0 AND tip_amount >= 0
GROUP BY ROUND(tip_amount / total_amount, 2)
ORDER BY tip_ratio DESC;
'''

spark.sql(query6).show()

+---------+------------+----------+
|tip_ratio|avg_distance|trip_count|
+---------+------------+----------+
|      1.0|        2.64|        56|
|     0.99|         1.5|        47|
|     0.98|        2.64|        64|
|     0.97|        3.49|        32|
|     0.96|        0.93|        53|
|     0.95|        1.48|        55|
|     0.94|        0.98|        54|
|     0.93|        0.84|        79|
|     0.92|        2.09|        81|
|     0.91|        1.01|        83|
|      0.9|        0.93|        67|
|     0.89|        0.92|       104|
|     0.88|        2.27|        75|
|     0.87|        0.94|       141|
|     0.86|        0.81|       100|
|     0.85|        1.09|        95|
|     0.84|        1.07|       133|
|     0.83|        1.64|        87|
|     0.82|        0.86|       160|
|     0.81|        1.03|       153|
+---------+------------+----------+
only showing top 20 rows

## 팁 비율에 따른 거리, 여행 건수 분석

- **팁 비율 1.0 (100%)**: 매우 높은 팁 비율, 단거리 여행에 집중.
  
- **팁 비율 0.9~1.0 구간**: 고급 서비스 또는 특별한 이동 사례로 추정.
  
- **평균 팁 비율(0.15~0.3)**: 일반적인 서비스에서의 팁 비율 구간.
  
- **팁 비율 0.0~0.05**: 여행 건수 가장 많음(150건 이상). 팁이 거의 없는 이동. 일반 서비스 이용 가능성 높음.

- **인사이트**:
  - 높은 팁 비율: 고급 서비스 및 단거리 이동 강화 가능.
  - 낮은 팁 비율: 저가 서비스 분석 및 개선 필요.

In [79]:
# 운행 거리와 요금의 상관관계 > 쿼리, 데이터프레임으로 구현
query7 = '''
SELECT 
    CASE 
        WHEN trip_distance BETWEEN 0 AND 10 THEN '0-10 km'
        WHEN trip_distance BETWEEN 10 AND 20 THEN '10-20 km'
        WHEN trip_distance BETWEEN 20 AND 30 THEN '20-30 km'
        WHEN trip_distance BETWEEN 30 AND 40 THEN '30-40 km'
        ELSE '40+ km'
    END AS distance_range,
    ROUND(AVG(total_amount), 2) AS avg_amount,
    COUNT(*) AS trip_count
FROM comb
WHERE trip_distance > 0 AND total_amount > 0
GROUP BY distance_range
ORDER BY distance_range;
'''
spark.sql(query7).explain()
spark.sql(query7).show()

== Physical Plan ==
*(12) Sort [distance_range#5359 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(distance_range#5359 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [id=#7573]
   +- *(11) HashAggregate(keys=[CASE WHEN ((trip_distance#3688 >= 0.0) AND (trip_distance#3688 <= 10.0)) THEN 0-10 km WHEN ((trip_distance#3688 >= 10.0) AND (trip_distance#3688 <= 20.0)) THEN 10-20 km WHEN ((trip_distance#3688 >= 20.0) AND (trip_distance#3688 <= 30.0)) THEN 20-30 km WHEN ((trip_distance#3688 >= 30.0) AND (trip_distance#3688 <= 40.0)) THEN 30-40 km ELSE 40+ km END#5368], functions=[avg(total_amount#3700), count(1)])
      +- Exchange hashpartitioning(CASE WHEN ((trip_distance#3688 >= 0.0) AND (trip_distance#3688 <= 10.0)) THEN 0-10 km WHEN ((trip_distance#3688 >= 10.0) AND (trip_distance#3688 <= 20.0)) THEN 10-20 km WHEN ((trip_distance#3688 >= 20.0) AND (trip_distance#3688 <= 30.0)) THEN 20-30 km WHEN ((trip_distance#3688 >= 30.0) AND (trip_distance#3688 <= 40.0)) THEN 30-40 km ELSE 40+ km END#5368, 200), ENSURE_REQUIREMENTS, [id=#7569]
         +- *(10) HashAggregate(keys=[CASE WHEN ((trip_distance#3688 >= 0.0) AND (trip_distance#3688 <= 10.0)) THEN 0-10 km WHEN ((trip_distance#3688 >= 10.0) AND (trip_distance#3688 <= 20.0)) THEN 10-20 km WHEN ((trip_distance#3688 >= 20.0) AND (trip_distance#3688 <= 30.0)) THEN 20-30 km WHEN ((trip_distance#3688 >= 30.0) AND (trip_distance#3688 <= 40.0)) THEN 30-40 km ELSE 40+ km END AS CASE WHEN ((trip_distance#3688 >= 0.0) AND (trip_distance#3688 <= 10.0)) THEN 0-10 km WHEN ((trip_distance#3688 >= 10.0) AND (trip_distance#3688 <= 20.0)) THEN 10-20 km WHEN ((trip_distance#3688 >= 20.0) AND (trip_distance#3688 <= 30.0)) THEN 20-30 km WHEN ((trip_distance#3688 >= 30.0) AND (trip_distance#3688 <= 40.0)) THEN 30-40 km ELSE 40+ km END#5368], functions=[partial_avg(total_amount#3700), partial_count(1)])
            +- *(10) Project [trip_distance#3688, total_amount#3700]
               +- *(10) BroadcastHashJoin [DOLocationID#3692], [LocationID#4191], LeftOuter, BuildRight, false
                  :- *(10) Project [trip_distance#3688, DOLocationID#3692, total_amount#3700]
                  :  +- *(10) BroadcastHashJoin [PULocationID#3691], [LocationID#4048], LeftOuter, BuildRight, false
                  :     :- Union
                  :     :  :- *(1) Filter (((isnotnull(trip_distance#3688) AND isnotnull(total_amount#3700)) AND (trip_distance#3688 > 0.0)) AND (total_amount#3700 > 0.0))
                  :     :  :  +- FileScan csv [trip_distance#3688,PULocationID#3691,DOLocationID#3692,total_amount#3700] Batched: false, DataFilters: [isnotnull(trip_distance#3688), isnotnull(total_amount#3700), (trip_distance#3688 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-01.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     :  :- *(2) Filter (((isnotnull(trip_distance#3740) AND isnotnull(total_amount#3752)) AND (trip_distance#3740 > 0.0)) AND (total_amount#3752 > 0.0))
                  :     :  :  +- FileScan csv [trip_distance#3740,PULocationID#3743,DOLocationID#3744,total_amount#3752] Batched: false, DataFilters: [isnotnull(trip_distance#3740), isnotnull(total_amount#3752), (trip_distance#3740 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-02.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     :  :- *(3) Filter (((isnotnull(trip_distance#3792) AND isnotnull(total_amount#3804)) AND (trip_distance#3792 > 0.0)) AND (total_amount#3804 > 0.0))
                  :     :  :  +- FileScan csv [trip_distance#3792,PULocationID#3795,DOLocationID#3796,total_amount#3804] Batched: false, DataFilters: [isnotnull(trip_distance#3792), isnotnull(total_amount#3804), (trip_distance#3792 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-03.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     :  :- *(4) Filter (((isnotnull(trip_distance#3844) AND isnotnull(total_amount#3856)) AND (trip_distance#3844 > 0.0)) AND (total_amount#3856 > 0.0))
                  :     :  :  +- FileScan csv [trip_distance#3844,PULocationID#3847,DOLocationID#3848,total_amount#3856] Batched: false, DataFilters: [isnotnull(trip_distance#3844), isnotnull(total_amount#3856), (trip_distance#3844 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-04.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     :  :- *(5) Filter (((isnotnull(trip_distance#3896) AND isnotnull(total_amount#3908)) AND (trip_distance#3896 > 0.0)) AND (total_amount#3908 > 0.0))
                  :     :  :  +- FileScan csv [trip_distance#3896,PULocationID#3899,DOLocationID#3900,total_amount#3908] Batched: false, DataFilters: [isnotnull(trip_distance#3896), isnotnull(total_amount#3908), (trip_distance#3896 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-05.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     :  :- *(6) Filter (((isnotnull(trip_distance#3948) AND isnotnull(total_amount#3960)) AND (trip_distance#3948 > 0.0)) AND (total_amount#3960 > 0.0))
                  :     :  :  +- FileScan csv [trip_distance#3948,PULocationID#3951,DOLocationID#3952,total_amount#3960] Batched: false, DataFilters: [isnotnull(trip_distance#3948), isnotnull(total_amount#3960), (trip_distance#3948 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-06.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     :  +- *(7) Filter (((isnotnull(trip_distance#4000) AND isnotnull(total_amount#4012)) AND (trip_distance#4000 > 0.0)) AND (total_amount#4012 > 0.0))
                  :     :     +- FileScan csv [trip_distance#4000,PULocationID#4003,DOLocationID#4004,total_amount#4012] Batched: false, DataFilters: [isnotnull(trip_distance#4000), isnotnull(total_amount#4012), (trip_distance#4000 > 0.0), (total_..., Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/yellow_tripdata_2021-07.csv], PartitionFilters: [], PushedFilters: [IsNotNull(trip_distance), IsNotNull(total_amount), GreaterThan(trip_distance,0.0), GreaterThan(t..., ReadSchema: struct<trip_distance:double,PULocationID:int,DOLocationID:int,total_amount:double>
                  :     +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#7530]
                  :        +- *(8) Filter isnotnull(LocationID#4048)
                  :           +- FileScan csv [LocationID#4048] Batched: false, DataFilters: [isnotnull(LocationID#4048)], Format: CSV, Location: InMemoryFileIndex[file:/home/lab02/src/data/taxi+_zone_lookup.csv], PartitionFilters: [], PushedFilters: [IsNotNull(LocationID)], ReadSchema: struct<LocationID:int>
                  +- ReusedExchange [LocationID#4191], BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [id=#7530]

+--------------+----------+----------+
|distance_range|avg_amount|trip_count|
+--------------+----------+----------+
|       0-10 km|     16.27|  13873863|
|      10-20 km|     56.14|    748238|
|      20-30 km|     74.37|    104107|
|      30-40 km|    118.34|      7430|
|        40+ km|    120.75|      5779|
+--------------+----------+----------+

### 운행 거리 구간별 평균 요금 및 여행 건수 분석

- **0-10 km**: 평균 요금 16.27달러로 가장 적음, 건수 13,873,863건으로 압도적 수요.
- **10-20 km**: 평균 요금 56.14달러, 건수 748,238건으로 중간 거리 수요. 0-10km에 비해 가격이 크게 상승  
- **30+ km**: 평균 요금 118.34~120.75달러, 건수 7,430건 이하로 수요가 매우 적은 편, 장거리 이동에 특화된 서비스 출시 추천

In [80]:
spark.stop()